.marquee{
    width : 80vw;
    height : 30vh;
    overflow : hidden;
    margin : 20px;
    position : relative;
}
.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
.marquee-content{
    list-style: none;
    height : 100%;
    display: flex;
    animation : scrolling 10s linear infinite;
}
@keyframes scrolling{
    0% {transform : translatex(0); }
    100% {transform : translatex(-100vw);}
}
.marquee-content:hover{
    animation-play-state: paused;
}
.marquee-content li{
    display : flex;
    justify-content : center;
    align-items: center;
    border : 3px solid yellow;
    width : 20vw;
    height : 100%;
    flex-shrink : 0;
    white-space: nowrap;
}
img{
    width: 20vw;
    height : 30vh;
}