.personalhome {
    padding: 20px;
}

.perosonalhome__box{

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
}

.personalhome__form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalhome__heading {
    font-size :2.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

.form__field{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid black;
    margin: 3% 0%;
}

.form__field__heading{
    font-size :2.5rem;
    margin: 2% 2%;
    font-family: 'Nunito Sans', sans-serif;
}




